.home{
    width: 100%;
    background-image: url("../../images/cool.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 390px 0px 183px 73px;
}

.for_head_text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;   
    color: #ffffff;
}

.for_head_text h1{
    font-size: 97px;
    font-weight: 700;
    font-family: Verdana, Geneva, Tahoma, sans-serif;   
}

.for_head_text p{
    font-size: 18px;
    font-weight: 400;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

@media(max-width: 991px){
    .for_head_text h1{
        font-size: 48px;
        font-weight: 700;
        font-family: Verdana, Geneva, Tahoma, sans-serif;   
    }
    .for_head_text p{
        font-size: 16px;
        font-weight: 400;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
}

@media(max-width: 767px){
    .home{
        padding: 200px 0px 83px 20px;
    }
}

@media(max-width: 767px){
    .home{
        padding: 200px 0px 50px 10px;
    }
}





